version: "3.9"
services:
  postgres:
    image: postgres:14
    environment:
      POSTGRES_DB: vhm
      POSTGRES_USER: vhm
      POSTGRES_PASSWORD: vhm
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:6
    ports:
      - "6379:6379"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"

volumes:
  postgres_data:
